html{
    scroll-behavior: smooth;
}
body{
    background-color: #fadede;
}
*{
    font-family: 'Outfit';
}
nav{
    position: sticky;
    top: 0; 
    z-index: 1000;
    text-align: center;
    padding: 10px;
}

nav > ol > li {
    display: inline-block;
    letter-spacing: 1px;
    font-size: x-large;
    margin: 0 5px;
    transition: transform 0.3s ease, font-size 0.3s ease;
    background-color: #5abba6;
    border-radius: 3px;
    padding: 5px;
}

nav > ol > li:hover {
    font-size: xx-large;
    transform: translateY(2px);
}
section{
    background-color: #4a9988;
    margin: 10px;
    border-radius: 5px;
}
.textPresentation > p{
    text-align: justify;
    line-height: 1.5;
    font-size: x-large;
}
.blocPresentation,.blocFormation{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 10px;
}

.blocPresentation > div,.blocFormation > div {
    text-align: center; 
    padding: 20px;
}
.photoMoi{
    width: 275px;
    height: 350px;
    border-radius: 5px;
    margin-right: 5px;
}
a{
    text-decoration: none;
    color:black
}
a:hover{
    color: #4a356d;
}
#jeuH1{
    text-align: center;
    padding-top: 20px;
}


#sectionText{
    font-size: x-large;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 0px;
}
/*JEU DE MEMOIRE*/

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
    margin: 20px;
    padding-bottom: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #36685d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: transparent;
    cursor: pointer;
    transform: rotateY(0);
    transition: transform 0.4s, color 0.4s;
}

.card.hidden {
    color: transparent; 
}

.card.revealed {
    background-color: #fff;
    color: black; 
    transform: rotateY(180deg);
}

.card.matched {
    background-color: #ddd;
    color: #bbb;
    pointer-events: none;
}